# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\springboot2\zhxy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
